.body{
    background-color: #fafafa;
}
.container{
    display: flex;
    position: relative;
    top: 30px;
    left: 280px;
    background-color: #ffffff;
}
.left{
    position: relative;
}
.mobile1{
    position: absolute;
    left: 155px;
    top: 30px;
}
.right{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 350px;
}
.logo{
    width: 55%;
    margin-top: 35px;
    margin-bottom: 25px;
}
.email{
    width: 75%;
    height: 30px;
    padding: 4px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(250, 250, 250);
    border-radius: 4%;
}
.pass{
    width: 75%;
    height: 30px;
    padding: 4px;
    margin-top: 5px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4%;
}
.button{
    color: white;
    border: none;
    border-radius: 4%;
    background-color: #0095f6;
    width: 77%;
    height: 30px;
    padding: 4px;
}
.OR{
    display: flex;
    justify-content: center;
}
.ortext{
    position: relative;
    top: 10px;
    font-size: 13px;
}
.dash{
    font-weight: 100;
}
.fb{
    vertical-align: middle;
}
.fbtext{
    text-decoration: none;
    color: #385185;
    font-weight: 800;
}
.forgot{
    margin-top: 5px;
    text-decoration: none;
}
.right_top{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 10px;
}
.right_middle{
    border: 1px solid rgb(219, 219, 219);
    padding: 20px;
}
.signup{
    text-decoration: none;
}
.bottom_images{
    display: flex;
    width: 300px;
}
.bottom_img1,
.bottom_img2{
    width: 150px;
    height: 45px;
}